@{
    ViewBag.Title = "Kontakt";
    Layout = "~/Views/Shared/_StoreLayout.cshtml";
}
<h2>@ViewBag.Title.</h2>

<div style="margin-top: 20px; line-height: 22px;">

    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eleifend nisi risus,
    nec pellentesque augue ornare sed. Suspendisse potenti. Nunc quam lacus, sodales et
    rutrum quis, gravida quis velit. Duis eu scelerisque orci. Vestibulum ante ipsum primis
    in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam vitae eros dapibus orci
    placerat feugiat sit amet quis velit. Mauris eget justo at leo ornare finibus. Aliquam erat
    volutpat. Suspendisse elementum lectus a magna auctor mattis. Quisque rhoncus cursus erat
    quis aliquam. In nec porttitor dui, at varius lacus. Quisque vestibulum, sem in posuere tristique,
    leo est fermentum dui, vel sodales metus nisl in neque. Ut non porttitor turpis. Integer.

</div>